<div id="bibtex-apa" class="white-popup mfp-hide">
    @inproceedings{10.1145/3373376.3378462,<br>
    author = {Sanchez Vicarte, Jose Rodrigo and Schreiber, Benjamin and Paccagnella, Riccardo and Fletcher, Christopher W.},<br>
    title = {Game of Threads: Enabling Asynchronous Poisoning Attacks},<br>
    year = {2020},<br>
    isbn = {9781450371025},<br>
    publisher = {Association for Computing Machinery},<br>
    address = {New York, NY, USA},<br>
    url = {https://doi.org/10.1145/3373376.3378462},<br>
    doi = {10.1145/3373376.3378462},<br>
    booktitle = {Proceedings of the Twenty-Fifth International Conference on Architectural Support for Programming Languages and Operating Systems},<br>
    pages = {35–52},<br>
    numpages = {18},<br>
    keywords = {adversarial machine learning, trusted execution environment, asynchronous stochastic gradient descent},<br>
    location = {Lausanne, Switzerland},<br>
    series = {ASPLOS ’20}<br>
    }
</div>
<div id="nontex-apa" class="white-popup mfp-hide">
    Jose Rodrigo Sanchez Vicarte, Benjamin Schreiber, Riccardo Paccagnella, and Christopher W. Fletcher. 2020. Game of Threads: Enabling Asynchronous Poisoning Attacks. In Proceedings of the Twenty-Fifth International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS ’20). Association for Computing Machinery, New York, NY, USA, 35–52. DOI:https://doi.org/10.1145/3373376.3378462
</div>

<div id="bibtex-pfi" class="white-popup mfp-hide">
    @inproceedings{inproceedings,<br>
    author = {Mahmoud, Abdulrahman and Aggarwal, Neeraj and Nobbe, Alex and Vicarte, Jose and Adve, Sarita and Fletcher, Christopher and Frosio, Iuri and Hari, Siva},<br>
    year = {2020},<br>
    month = {06},<br>
    pages = {25-31},<br>
    title = {PyTorchFI: A Runtime Perturbation Tool for DNNs},<br>
    doi = {10.1109/DSN-W50199.2020.00014}<br>
    }
</div>
<div id="nontex-pfi" class="white-popup mfp-hide">
    Mahmoud, Abdulrahman & Aggarwal, Neeraj & Nobbe, Alex & Vicarte, Jose & Adve, Sarita & Fletcher, Christopher & Frosio, Iuri & Hari, Siva. (2020). PyTorchFI: A Runtime Perturbation Tool for DNNs.
</div>

<div id="bibtex-diffp" class="white-popup mfp-hide">
    @inproceedings{10.1109/ISCA.2018.00053,<br>
    author = {Choi, Woo-Seok and Tomei, Matthew and Vicarte, Jose Rodrigo Sanchez and Hanumolu, Pavan Kumar and Kumar, Rakesh},<br>
    title = {Guaranteeing Local Differential Privacy on Ultra-Low-Power Systems},<br>
    year = {2018},<br>
    isbn = {9781538659847},<br>
    publisher = {IEEE Press},<br>
    url = {https://doi.org/10.1109/ISCA.2018.00053},<br>
    doi = {10.1109/ISCA.2018.00053},<br>
    booktitle = {Proceedings of the 45th Annual International Symposium on Computer Architecture},<br>
    pages = {561–574},<br>
    numpages = {14},<br>
    keywords = {microcontrollers, randomized response, IoT, low-power systems, RAPPOR, differential privacy},<br>
    location = {Los Angeles, California},<br>
    series = {ISCA ’18}<br>
    }
</div>
<div id="nontex-diffp" class="white-popup mfp-hide">
    Woo-Seok Choi, Matthew Tomei, Jose Rodrigo Sanchez Vicarte, Pavan Kumar Hanumolu, and Rakesh Kumar. 2018. Guaranteeing local differential privacy on ultra-low-power systems. In Proceedings of the 45th Annual International Symposium on Computer Architecture (ISCA ’18). IEEE Press, 561–574. DOI:https://doi.org/10.1109/ISCA.2018.00053
</div>
